<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <title>Ceļojumi.lv</title>

        <style>
            body {
              background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_639318992_2000133320009280367_371926.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;  
              background-size: cover;
            }
            </style>

    </head>

    <body>
    

     <h1 style="color: rgb(0, 0, 0);"> <center> <i> CEĻOJUMI.LV </i> </center> </h1>
     <br/>
     <h3> <center> <i> Lieliska iespēja apskatīt neredzētas vietas, par lieliskam cenām, izbaudot patīkamu lidojumu </i> </center> </h3>

     <br/>
     <br/>

     <a href="page2.html "target="_blank" > <center> <i> <big> Sākt jaunu piedzīvojumu </big> </i> </center> </a>

     

    </body>



</html>