<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <title>Sākt jaunu ceļojumu</title>

   
    </head>

    <body>

        <p> <center> <h1> <span style="border: 2px solid black">Avio Ceļojumi</span>
            <span style="border: 2px solid black">Atpūtas Ceļojumi</span> 
            <span style="border: 2px solid black">Kruīzi</span> </h1>
        </center> </p>
            
        <picture>
            
            <img src="https://cdn.discordapp.com/attachments/811158900312113152/846728109718110248/travel-quotes.png" alt="img" style=" position: fixed;
            bottom: 0;
            left: 300px;
            right: 0;
            width: 1400px;">
        
          </picture>




    </body>



</html>